@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

.hide-scrollbar {
  scrollbar-width: thin;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 11 */
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  /* WebKit */
  display: none;
  /* Safari and Chrome */
}

input:focus,
textarea:focus {
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #ffffff0e;
}

::-webkit-scrollbar-thumb {
  background: #3a353559;
  border-radius: 5px;
}

::-webkit-scrollcki-bar-thumb:hover {
  background: #555;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  overflow-x: hidden;
}


.badge:after {
  font-size: 12px;
  color: #fff;
  position: absolute;
  right: -10;
  top: -6;
  background-color: blue;
  border-radius: 8;
  width: 16;
  height: 16;
  justify-content: center;
  align-items: center;
}